.chart-container {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
  }

  h1 {
    text-align: center;
    color: #226c7f; /* Cambia este valor para el color del título */
    font-family: 'Arial', sans-serif;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 700;
  }