<div>
  <div class="title-container">
    <h1 class="title">Tiempo promedio de duración de video por sesión</h1>
  </div>

  <div *ngIf="hayDatos; else errorMessage" class="chart-container" [ngStyle]="{'width': chartWidth}">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [type]="barChartType"
    >
    </canvas>
  </div>

  <!-- Mensaje de error sencillo -->
  <ng-template #errorMessage>
    <div style="text-align: center; color: #d9534f;">
      <p>No se encontraron videos en sesiones.</p>
    </div>
  </ng-template>
</div>
