<div>
    <div>
        <h1>Tabla De Sesiones</h1>
    </div>
    <div class="curso-container">
        <div *ngFor="let sesion of pagedSesiones" class="curso-card">
            <mat-card class="curso-card__content">
                <mat-card-header class="curso-card-header">
                    <mat-card-title>{{ sesion.titulo }}</mat-card-title>
                    <mat-card-subtitle>Id: {{ sesion.id }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p><strong>Título del curso:</strong> {{ sesion.cur.titulo }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button color="warn" (click)="eliminar(sesion.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" [routerLink]="['ediciones', sesion.id]">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" [routerLink]="['descripciones', sesion.id]">
                        <mat-icon> import_contacts</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div *ngIf="mensaje" style="color: red;">{{ mensaje }}</div>
    <!-- Paginador -->
    <mat-paginator [length]="sesiones.length"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page">
    </mat-paginator>
</div>