mat-form-field{

    width: 60%;

}

.custom-button {

    background-color: hsl(4, 97%, 48%);   

    color: white;   

   }

   .container{
    text-align: center;
    margin:5%
   }

   .right-menu {
    margin-left: auto; /* Empuja el menú de usuarios a la derecha */
    background-color: #9fc5ff; 
    color: white; 
  }