div {
    margin: 20px;
    background-color: #e3f2fd; 
    border-radius: 12px;
}

h1 {
    text-align: center;
    color: #1565c0; 
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.curso-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar las tarjetas */
    gap: 16px; /* Espaciado entre las tarjetas */
}

.curso-card {
    width: calc(33% - 16px); /* Ajustar el ancho de las tarjetas */
}

.curso-card__content {
    background-color: white; /* Fondo blanco para las tarjetas */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.curso-card-header {
    background-color: #b7d0f5 !important; /* Fondo celeste para el encabezado */
    border-top-left-radius: 8px; /* Bordes redondeados */
    border-top-right-radius: 8px; /* Bordes redondeados */
    padding: 16px; /* Espaciado interno */
}