<header>
    <nav>
        <div id='navBar' class="flex">
            <img class="logo" src="assets/images/ic_zentech.png">
            <div class="flex options">
                <a routerLink="/landing"><div class="option first">Inicio</div></a>
                <a routerLink="/landing/nosotros"><div class="option">Nosotros</div></a>
                <a routerLink="/landing/servicios"><div class="option">Servicios</div></a>
                <a routerLink="/landing/planes"><div class="option">Planes</div></a>
                <a routerLink="/landing/contacto"><div class="option">Contáctanos</div></a>
                <a routerLink="/iniciosesion"><div class="option">Iniciar Sesion</div></a>
            </div>
        </div>
    </nav>
</header>

<div class="seccion">
    <h1 class="hide">Inicia tu vida Mindfulness con nosotros</h1>
</div>

<div class="seccion planes">
    <h2 class="title hide">Estos son los planes que tenemos para ti</h2>
    <div class="cards">

        <!-- Plan Free -->
        <div class="card plan hide left">
            <div class="card_plan_head">
                <h2>Free</h2>
            </div>
            <div class="precio">
                <div class="valor">S/0</div><div class="extra">Gratis <br> por siempre</div>
            </div>
            <div class="planinfo">
                <ul>
                    <li>Rutinas de ejercicios</li>
                    <li>Sesiones de meditación</li>
                
                </ul>
            </div>
        </div>

        <!-- Plan Premium -->
        <div class="card plan hide left">
            <div class="card_plan_head">
                <h2>Premium</h2>
            </div>
            <div class="precio">
                <div class="valor">S/10</div><div class="extra">Pago<br> mensual</div>
            </div>
            <div class="planinfo">
                <ul>
                    <li>Rutinas de ejercicios</li>
                    <li>Sesiones de meditación</li>
                    <li>Mayor Calidad de Videos</li>
                    <li>Soporte técnico ante problemas</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<footer class="footer">
    <div class="container-footer">
        <div class="row">
            <div class="footer-col">
                <h4>Zentech</h4>
                <ul>
                    <li><a routerLink="/landing/nosotros">Acerca de nosotros</a></li>
                    <li><a routerLink="/landing/servicios">Qué ofrecemos</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Más ayuda</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Opciones de pago</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Síguenos</h4>
                <div class="social-links">
                    <a href="#"><img src="assets/images/ic_svg/facebook.svg" alt="Facebook"></a>
                    <a href="#"><img src="assets/images/ic_svg/twitter-x.svg" alt="Twitter X"></a>
                    <a href="#"><img src="assets/images/ic_svg/ic_instagram.svg" alt="Instagram"></a>
                    <a href="#"><img src="assets/images/ic_svg/ic_linkedin.svg" alt="LinkedIn"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
