<header>
    <nav>
    <div id='navBar' class="flex">
        <img class="logo"src="assets/images/ic_zentech.png">
        <div class="flex options">
            <a routerLink="/landing"><div class="option first">Inicio</div></a>
            <a routerLink="/landing/nosotros"><div class="option">Nosotros</div></a>
            <a routerLink="/landing/servicios"><div class="option">Servicios</div></a>
               
            <a routerLink="/landing/planes"><div class="option">Planes</div></a>
            <a routerLink="/landing/contacto"><div class="option">Contáctanos</div></a>
            <a routerLink="/iniciosesion"><div class="option">Iniciar Sesion</div></a>
        </div>
    </div>
    </nav>
</header>



<section id="nosotros">
    <div class="container">
        <h1 class="title hide">Nosotros</h1>
        <img class="hide bottom" src="assets/images/im_nos_1.png" alt="" srcset="">
        <div class="large_text hide">
            <p>Somos una organización dedicada al desarrollo de productos que guían a las personas en el camino del mindfulness. Nuestra misión es ayudar a las personas a cultivar la conciencia en el presente sin juicios, lo que mejora la efectividad en sus actividades diarias y contribuye a una mejor salud mental al reducir el estrés.</p>
        </div>
    </div>
</section>

<section id="modeloTrabajo">
<div class="container">
    <h1 class="title hide">Modelo de trabajo</h1>
    <img class="hide bottom" src="assets/images/agile1.png" alt="" srcset="">
    <div class="large_text hide">
        <h5>Metodología Ágil:</h5>
         <p>En MindFulLife, nos enorgullece destacar que nuestro equipo trabaja con la metodología ágil, una forma de gestionar proyectos efectiva y adaptable.</p>
    </div>
</div>
</section>

<section id="Metodologia">
    <div class="container centered-content">
      <h1 class="title hide">Principios y ventajas de la Metodología Ágil:</h1>
      <div class="large_text hide">
        <ul class="table centered-list">
          
          <li><p><strong> Colaboración Constante:</strong> Fomentamos la comunicación y la colaboración continua entre los miembros del equipo y con nuestros clientes.</p></li>
          <li><p><strong> Entregas Iterativas:</strong> Dividimos nuestros proyectos en iteraciones manejables, lo que nos permite entregar incrementos de valor de manera regular. </p></li>
          <li><p><strong> Mayor Satisfacción del Cliente:</strong> La colaboración continua y la adaptabilidad garantizan que cumplamos con las expectativas del cliente y que sus comentarios se incorporen de manera efectiva.</p></li>   
        </ul>
      </div>
      <img src="assets/images/principiosagile.webp" alt="Imagen Izquierda" class="metodologia-img" width="300" height="150">
    </div>
</section>


<footer class="footer">
    <div class="container-footer">
        <div class="row">
        <div class="footer-col">
            <h4>Zentech</h4>
            <ul>
                <li><a routerLink="/landing/nosotros">Acerca de nosotros</a></li>
                <li><a routerLink="/landing/servicios">Qué ofrecemos</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Más ayuda</h4>
            <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Opciones de pago</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Síguenos</h4>
            <div class="social-links">
            <a href="#"><img src="assets/images/ic_svg/facebook.svg" alt="Facebook"></a>
            <a href="#"><img src="assets/images/ic_svg/twitter-x.svg" alt="Twitter X"></a>
            <a href="#"><img src="assets/images/ic_svg/ic_instagram.svg" alt="Instagram"></a>
            <a href="#"><img src="assets/images/ic_svg/ic_linkedin.svg" alt="LinkedIn"></a>
            </div>
        </div>
        </div>
    </div>
</footer>
