<div>
  <div style="text-align: center;">
    <h1>Top 3 cursos con más comentarios</h1>
  </div>

  <div *ngIf="hayDatos; else errorMessage" class="chart-container" style="text-align: center;">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [type]="barChartType"
    >
    </canvas>
  </div>

  <!-- Mensaje de error si no hay datos -->
  <ng-template #errorMessage>
    <div style="text-align: center; color: red;">
      No se encontraron comentarios para los cursos.
    </div>
  </ng-template>
</div>
